html,
body {
  font-size: 16px;
}

h1 {
  font-size: 4em;
  text-align: center;
  padding: 0.5em;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

#game-container {
  padding: 5em;
  margin: 0 auto;
  width: 500px;
}

canvas#chefCanvas {
  margin: 0 auto;
  border: 1px solid black;
}

button {
  background-color: red;
  color: white;
  padding: 0.5rem 0.5rem;
  margin: 1rem;
  align-items: center;
  border: 1px solid white;
  text-transform: uppercase;
}