html,
body {
  font-size: 16px;
  margin: 0 auto;
}

body {
    background: url("/img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*Picture credits <a href="https://www.freepik.com/vectors/background">Background vector created by freepik - www.freepik.com</a>
*/
}

h1 {
  font-size: 4em;
  text-align: center;
  padding: 0.5em;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

#game-container {
  padding: 0.5rem;
  margin: 3rem auto;
  width: 1000px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid-2-col {
  display: flex;
  align-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.col.--small {
  width: 50%;
}

button {
  background-color:#fa5a5a;
  color: white;
  width: 10em;
  padding: 0.5em 0.5em;
  margin: 1rem;
  border: 1px solid white;
  text-transform: uppercase;
}

/* Splash Screen */
#image {
  height: 160px;
  width: 122px;
  background: url('/img/newSprite.png') 0px 0px;
}

/* Instructions Screen*/
#instructions {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
  padding: 1em;
}

#instructions h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold ;
}

/*Game Screen*/
canvas#chefCanvas {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.ingredients h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold ;
}

.ingredients li:before {
  content: '+ ';
  color: #e2311a;
}


